
@{
    ViewBag.Title = "AsingacionAutomatica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AsingacionAutomatica</h2>

<img src="@Url.Content("~/Common/Imagenes/under.png")" class="card-img-top img-fluid w-50 mx-auto" alt="icono subir archivo">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
