
<div class="modal fade" id="modalDetalles" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-black  text-white">
                <h3 class="modal-title" id="staticBackdropLabel">Eliminar Tarea</h3>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">


                    <div class="col-sm-12 mt-3">
                        <p>Numero de Guia: <input type="text" name="nombre" id="guiaID" value=""></p>
                        <div class="d-flex justify-content-evenly mt-4 mb-5 btn-group">
                            <div class="mb-2">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            </div>
                            <div class="mb-2">
                                <button type="button" class="btn btn-success" onclick="eliminar();" data-dismiss="modal">Confirmar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">





            function eliminar() {

        $.ajax({
            type: "post",
            dataType: "json",
            url: '@Url.Action("Eliminar_Tarea", "AsignacionTareas")'
                + "?guia=" + tarea_guia
        })
         }


</script>

