<!DOCTYPE html>
<html>

    <body>
        @RenderBody()
        <head>
            <title>LOGIN</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!--===============================================================================================-->
            <link rel="icon" type="image/png" href="~/Scripts/fontslogin/images/icons/favicon.ico" />
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="~/Scripts/fontslogin/vendor/bootstrap/css/bootstrap.min.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="~/Scripts/fontslogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="~/Scripts/fontslogin/fonts/iconic/css/material-design-iconic-font.min.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="~/Scripts/fontslogin/vendor/animate/animate.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="~/Scripts/fontslogin/vendor/css-hamburgers/hamburgers.min.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="~/Scripts/fontslogin/vendor/animsition/css/animsition.min.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="~/Scripts/fontslogin/vendor/select2/select2.min.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="~/Scripts/fontslogin/vendor/daterangepicker/daterangepicker.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="~/Scripts/fontslogin/css/util.css">
            <link rel="stylesheet" type="text/css" href="~/Scripts/fontslogin/css/main.css">
            <!--===============================================================================================-->
            <!--===============================================================================================-->
            <script src="~/Scripts/fontslogin/vendor/jquery/jquery-3.2.1.min.js"></script>
            <!--===============================================================================================-->
            <script src="~/Scripts/fontslogin/vendor/animsition/js/animsition.min.js"></script>
            <!--===============================================================================================-->
            <script src="~/Scripts/fontslogin/vendor/bootstrap/js/popper.js"></script>
            <script src="~/Scripts/fontslogin/vendor/bootstrap/js/bootstrap.min.js"></script>
            <!--===============================================================================================-->
            <script src="~/Scripts/fontslogin/vendor/select2/select2.min.js"></script>
            <!--===============================================================================================-->
            <script src="~/Scripts/fontslogin/vendor/daterangepicker/moment.min.js"></script>
            <script src="~/Scripts/fontslogin/vendor/daterangepicker/daterangepicker.js"></script>
            <!--===============================================================================================-->
            <script src="~/Scripts/fontslogin/vendor/countdowntime/countdowntime.js"></script>
            <!--===============================================================================================-->
            <script src="~/Scripts/fontslogin/js/main.js"></script>
        </head>
</body>
    
</html>