<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header  bg-black  text-white">
                <h3 class="modal-title" id="staticBackdropLabel">Detalles de Paquete</h3>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">


                        <input type="hidden" id="txtIdPersona" />
                        <div class="form-group">
                            <label for="txtDestinatario">Destinatario:</label>
                            <input type="text" class="form-control" id="txtDestinatario">
                        </div>
                        <div class="form-group">
                            <label for="txtDireccion">Direccion:</label>
                            <input type="text" class="form-control" id="txtDireccion">
                        </div>
                        <div class="form-group">
                            <label for="txtCondicion">Condiciones del Paquete:</label>
                            <input type="text" class="form-control" id="txtCondicion">
                        </div>

                        <div class="form-group">
                            <label for="txtEstatus">Estatus:</label>
                            <input type="text" class="form-control" id="txtEstatus">
                        </div>
                        <div class="form-group">
                            <label for="txtEvidencia">Evidencia de entrega:</label>
                            <input type="text" class="form-control" id="txtEvidencia">
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-sm-12 mt-3">
                <div class="d-flex justify-content-evenly mt-4 mb-5 btn-group">
                    <div class="mb-2">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
