@{
    ViewBag.Title = "PaquetesActivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>


<h1></h1>
<div class="card mb-4">

    <div class="card-header">
        <div>
            <div class="container-fluid">
                <b>
                    <FONT size="5" class="mt-1" style="float:left;">
                        Entregas en proceso
                    </FONT>
                </b>
            </div>
        </div>
    </div>


    <!---SE AGREGAN COMBOS PARA LOS FILTROS (Ricardo)-->

  

                <div class=" card mb-4  ">
                    <div class="card-body">
                        <div class="row aling-item-end">
                            <div class="col-lg-4">
                                <div class="mt-1">
                                    <label class="form-label">Estatus:</label>
                                    @Html.DropDownList(name: "L_Estatus", selectList: null, (string)ViewBag.DCliente, new { @class = "form-control", @style = "resize: both;", id = "L_Estatus" })
                                </div>
                            </div>

                            <div class=" card mb-4  ">
                                <div class="card-body">
                                    <div class="row aling-item-end">
                                        <div class="col-lg-4">
                                            <div class="mt-1">
                                                <label class="form-label">Fecha de Recepci&oacute;n:</label>
                                             </div>
                                        </div>


                                        <!---FINALIZAN LOS COMBOS PARA LOS FILTROS (Ricardo)-->

                                        <div class="container-fluid mt-5">
                                            <table id="tablaPaquetes" class="display mt-2" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Cliente</th>
                                                        <th>Fecha de Recepción</th>
                                                        <th>Guia</th>
                                                        <th>Estatus</th>
                                                        <th>Detalles</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>

                                        </div>

                                    </div>

                                    @Html.Partial("Modal_Detalles")

                                    @section scripts{

                                        <script>

        var tabladata;
        $(document).ready(function () {

            tabladata = $("#tablaPaquetes").DataTable(
                {
                    resposive: true,
                    ordering: true,
                    searching: true,
                    scrollY: "300px",
                    scrollX: true,
                    scrollCollapse: true,
                    lengthChange: true,
                    "ajax":
                    {
                        url: '@Url.Action("LLena_tabla", "PaquetesActivos")',
                        type: "GET",
                        dataType: "json"
                    },
                    "columns":
                        [
                            { "className": "text-center", "data": "ID_Temporal" },
                            { "className": "text-center", "data": "Razon_Social_Cliente" },
                            { "className": "text-center", "data": "Fecha_Recepcion_String" },
                            { "className": "text-center", "data": "Guia" },
                            { data: "EstatusPaqueteDescripcion" },
                            {
                                defaultContent: "<button class='btn bi-file-earmark-text-fill btn-editar' type='button'" +
                                    "style = 'font-size:25px; display: true; ' ></button > "
                            }

                        ],

                    "language":
                    {
                        "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                    }

                });

            $("#tablaPaquetes tbody").on("click", '.btn-editar', function () {
                var filaseleccionada = $(this).closest("tr");
                var data = tabladata.row(filaseleccionada).data();
                console.log(data);
                detalles(data);
            })

            function detalles(data) {
                $('#txtDestinatario').val(data.Destinatario);
                $('#txtDireccion').val(data.Direccion);
                $('#txtDescripcion').val(data.Paq_Descripcion);
                $('#txtInstrucciones').val(data.Paq_Instrucciones);

                                      
                $('#FormModal').modal('show');

            }

        })
                                        </script>
                                    }

